3==0.0.0
asgiref==3.5.0
beautifulsoup4==4.10.0
boto==2.49.0
certifi==2021.10.8
charset-normalizer==2.0.9
distlib==0.3.4
dj-database-url==0.5.0
Django==4.0.3
django-bootstrap5==21.3
django-crispy-forms==1.14.0
django-filter==21.1
django-heroku==0.3.1
django-on-heroku==1.1.2
django-storages==1.12.3
filelock==3.6.0
gunicorn==20.1.0
idna==3.3
Pillow==9.1.0
platformdirs==2.5.1
psycopg2==2.9.3
psycopg2-binary==2.9.3
requests==2.26.0
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.7
virtualenv==20.13.2
whitenoise==6.0.0