absl-py
amqp
asgiref
asttokens
astunparse
attrs
autobahn
Automat
billiard
Brotli
CacheControl
cachetools
celery
certifi
cffi
channels
channels-redis
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
comm
constantly
cryptography
cssselect
daphne
debugpy
decorator
defusedxml
dj-database-url
Django
django-cors-headers
django-crispy-forms
djangorestframework
djangorestframework-simplejwt
dnspython
eventlet
executing
filelock
firebase
firebase-admin
flatbuffers
fsspec
gast
gcloud
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
greenlet
grpcio
grpcio-status
gunicorn
h11
h5py
httpie
httplib2
hyperlink
idna
incremental
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
jws
keras
kombu
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
ml-dtypes
mpmath
msgpack
multidict
namex
nest-asyncio
networkx
nh3
numpy
oauth2client
oauthlib
opt-einsum
optree
outcome
packaging
pandas
parso
pillow
pipdeptree
pkginfo
platformdirs
prompt-toolkit
proto-plus
protobuf
psutil
psycopg2-binary
pure-eval
pyasn1
pyasn1_modules
pycparser
pycryptodome
Pygments
PyJWT
pyOpenSSL
pyparsing
PySocks
python-dateutil
python-dotenv
python-jwt
pytz  # Keep pytz, allow pip to choose version
# Remove or comment out pywin32
pywin32-ctypes
pyzmq
redis
regex
requests
requests-oauthlib
requests-toolbelt
rfc3986
rich
rsa
scikit-learn
scipy
selenium
service-identity
setuptools
six
sniffio
sortedcontainers
sqlparse
stack-data
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
threadpoolctl
tomli
torch
torchvision
tornado
traitlets
trio
trio-websocket
Twisted
twisted-iocpsupport
txaio
typing
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
vine
wcwidth
Werkzeug
wheel
whitenoise
wrapt
wsproto
zipp
zope.interface
