<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">

        {% load static %}
        <link rel = "stylesheet" href = "{% static 'css/game-base.css' %}">
        <script src = "{% static 'js/game-base.js' %}" defer></script>

        {% block extra_static %}
        {% endblock %}

        <title>{% block title %}{{game.name|title}}{% endblock %}</title>
    </head>

    <body>
        <header>
            <ul>
                <li><a href = "{% url 'home' %}">Home 🏠</a></li>
                <li>Rate the Game</li>
                <li>Report Bugs 🐛</li>
                <li>Suggestions 💡</li>
                <li id = "leaderboard">Leaderboard 🏆
                    <ol id = "scores" style = "display: none">
                        {% for name, score in scores.items %}
                            <li>#{{ forloop.counter }} {{ name }} {{score}} {{game.context}}</li>
                        {% endfor %}
                    </ol>
                </li>
            </ul>
            {% if game.name %}
                <h1>{{game.name| title }}</h1>
            {% endif %}
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>