header ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
}

.star{
    cursor: pointer;
}

header li img{
    height: 1.5em;
}

header li{
    font-size: 1.5rem;
    border: 4px solid black;
    flex-grow: 1;
    background-color: rgb(43, 164, 204);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
}

header a{
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    margin: 0.25em 0;
}

header h1{
    text-align: center;
    font-size: 4rem;
    margin: 0 0 0.25em 0;
}

header a:hover{
    transition: 500ms ease-in; 
    background-color: skyblue;
}

#leaderboard{
    position: relative;
    cursor: pointer;
}

#scores{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 100%;
    padding: 0;
    z-index: 1;
    height: 25vh;
    overflow-y:auto;
}